/* All my colors : */

    /* 0 - Tags */

    a{
        color:black;
    }

    .fa-heart{
        color:lightgray;
    }

    .switchOn{
        color:red;
    }

    /* 1 - Light mode */

    .text-light{
        color: rgba(229, 229, 229, 1);
    }

    .light{
        background-color: white;
    }

    .lightSubNav{
        background-color: rgb(52, 96, 110);
    }

    .lightBody{
        background-color: rgba(53, 75, 89, 1);
    }

    /* 2 - Dark mode */

    .darkSubNav{
        background-color: rgb(58, 58, 58);
    }

    .darkBody{
        background-color: rgb(75, 75, 75);
    }

    .footer{
        background-color: rgb(109, 109, 109);
    }

/* All my font : */

    /* 0 - Tags */

    body{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    a{
        font-weight:500;
    }

    .t-right {
        text-align: right;
    }

/* Structures : */

    .displayNone{
        display: none;
    }

    .displayGrid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .gridSearch{
        display: grid;
        grid-template-columns: 10% 90%;
        padding: 1%;
        background-color: white;
        border-radius: 2em;
    }

    .block{
        display: block;
    }
    
    .flex{
        display: flex;
    }

    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1%;
    }

    .grid4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1%;
    }

    .borderNone{   
        border:none;
    }

    img{
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }

    .whiteCircle{
        background-color: rgb(58, 58, 58);
        color: white;
        border-radius: 2em;
        padding: 0.5em;
    }

    .p05{
        padding: 0.5em;
    }

    .mY1{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .m1{
        margin: 1em;
    }

    .cursorP{
        cursor: pointer;
    }

/* Responsive */

    /* Mobile */

    @media (min-width: 700px) { 
        #pocList{
            display: grid;
            grid-template-columns: 1fr 1fr ;
        }

        .gridSearch{
            grid-template-columns: 5% 95%;
        }

    }

    @media (min-width: 800px) { 

        .grid2{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 1%;
        }
    }

    @media (min-width: 1000px) { 
        #pocList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    /*Hover effect*/

    .container2{
        position: relative;
        width: 100%;
    }
    
    .text {
    position: absolute;
    color: dark;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    }
    
    .container2:hover{
    opacity: 0.8;
    transition: .5s ease;
    }
    
    .container2:hover .text{
    opacity: 1;
    transition: .5s ease;
    }

    /*New Css*/

    .gridNav{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        padding: 1%;
    }

    .gridCard{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .box{
        width: 200px;
        position: absolute;
        z-index: 1;
        top: 80px; right: 10px;
    }

    li{
        display: flex;
    }

    .floatingCategory{
        display: flex;
        position: absolute;
        z-index: 1;
        top: 10px; left: 10px;
    }

    .categoryCircle{
        background-color: aliceblue;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        border-radius: 1em;
    }

    .puzzleFloating{
        width: 30%;
        position: absolute;
        z-index: -1;
        top: 100px; right: 10px;
    }

    .puzzleFloating2{
        width: 20%;
        position: absolute;
        z-index: -1;
        top: 100px; right: 10px;
    }

    .foo{
        color: white;
        width: 70%;
    }

    .formLogin{
        color: white;
        width: 50%;
        margin: auto;
    }


/* General */

/* Nav Bar */
#mainNav{
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 1%;
    background-color: white;
}

#mainNav button{
    display: none;
}

@media (max-width: 560px) { 
    #mainNav button{
        display: block;
    }

    #mainNav #navLogo{
        display: block;
    }

    #link li{
        display: none;
    }
}

#mainNav #link{
    display: flex;
}



/* Home page */

/* Contact page */

.formContact{
    width: 70%;
}

.puzzleFloating3{
    width: 30%;
    position: absolute;
    z-index: -1;
    top: 10px; right: 10px;
    transform: rotate(-20deg);

}