* {
  margin: 0;
  padding: 0;
}

/* 1 - Light mode */
.text-light {
  color: #e5e5e5;
}

.light {
  background-color: white;
}

.lightSubNav {
  background-color: #34606e;
}

.lightBody {
  background-color: #354b59;
}

/* 2 - Dark mode */
.darkSubNav {
  background-color: #3a3a3a;
}

.darkBody {
  background-color: #4b4b4b;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* This CSS is divide in 4 parts : General, Composants, Pages and Responsive */
/* Bootstrap class use in this project : all m, all p*/
/* GENERAL */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  background-color: #6d6d6d;
}

footer p {
  color: black;
}

ul li {
  display: block;
}

a {
  font-weight: 500;
  color: black;
}

.t-right {
  text-align: right;
}

h1, h2, h3, p, ol li {
  color: #e5e5e5;
}

img {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

/* COMPOSANTS */
/* Nav Bar */
.displayNone {
  display: none;
}

.displayGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.cursorP {
  cursor: pointer;
}

#navprofil {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 10px;
  background-color: white;
  display: none;
}

#navprofil ul li p {
  color: black;
}

.whiteCircle {
  background-color: #3a3a3a;
  color: white;
  border-radius: 2em;
  padding: 0.5em;
}

#mainNav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  padding: 1%;
  background-color: white;
}

#mainNav button {
  display: none;
  background: none;
  border: 0;
}

#mainNav #link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainNavMobile {
  background-color: white;
  display: none;
}

@media (max-width: 560px) {
  #mainNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 2fr;
        grid-template-columns: 1fr 5fr 2fr;
  }
  #mainNav button {
    display: block;
  }
  #mainNav #navLogo {
    display: block;
  }
  #link li {
    display: none;
  }
}

/* Card */
.gridCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.floatingCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.categoryCircle {
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 1em;
}

#POCcard p {
  color: black;
}

/* PAGES : */
/* Home */
#homeNav2 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#homeNav2 a {
  text-decoration: none;
}

#find {
  background-color: #0e3535;
}

#share {
  background-color: #245869;
}

/* A Supprimer ? */
#homeNav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#homeNav li {
  background-color: white;
  border-radius: 1em;
}

#homeNav h2 {
  color: black;
}

/* ---- */
.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 1%;
}

@media (max-width: 1000px) {
  .grid3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .grid3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  #homeNav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Login*/
#loginBody {
  height: 70vh;
}

#formLogin {
  color: white;
  width: 50%;
  margin: auto;
}

.puzzleFloating2 {
  width: 20%;
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 10px;
}

/* Registration*/
#registerBody {
  height: 80vh;
}

#registerForm {
  width: 70%;
  color: white;
}

.puzzleFloating {
  width: 30%;
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 10px;
}

/* PSWD reset */
#resetPsdRequest {
  height: 65vh;
}

/* Contact */
.formContact {
  width: 70%;
}

@media screen and (max-width: 650px) {
  .formContact {
    width: 100%;
  }
}

.puzzleFloating3 {
  width: 30%;
  position: absolute;
  z-index: -1;
  top: 10px;
  right: 10px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

/* About us */
.box2 {
  width: 80%;
  margin: auto;
}

.divider2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1000px) {
  .divider2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Profil - My POC */
#myPoc {
  background-color: white;
}

#myPocImage {
  height: 100px;
}

/* Profil - My POC show */
.box3 {
  width: 50%;
  margin: auto;
}

.divider3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grey {
  background-color: #273b47;
}

/* Profil - My POC edit */
.box4 {
  width: 80%;
  margin: auto;
}

/* Admin User index*/
.divider2b {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 80%;
      grid-template-columns: 15% 80%;
}

#adminUserIndex, #adminPurchaseIndex, #adminPocIndex, #adminPaymentIndex, #adminLanguageIndex, #adminCategoryIndex {
  background-color: white;
}

/* Catalog */
#searchBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  padding: 1%;
  background-color: white;
  border-radius: 2em;
}

#searchInput {
  border: none;
}

/* Cart */
#cartBody {
  height: 75vh;
  background-color: white;
  margin: 10px;
}

@media (min-width: 700px) {
  #pocList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #searchBar {
    -ms-grid-columns: 5% 95%;
        grid-template-columns: 5% 95%;
  }
}

@media (min-width: 1000px) {
  #pocList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */