/* All my colors : */

    /* 0 - Tags */

    a{
        color:black;
    }

    .fa-heart{
        color:lightgray;
    }

    .switchOn{
        color:red;
    }

    /* 1 - Light mode */

    .lightNav{
        background-color: lightblue;
    }

    .lightSubNav{
        background-color: rgb(52, 96, 110);
    }

    .lightBody{
        background-color: #F4F6F9;
    }

    /* 2 - Dark mode */

    .darkNav{
        background-color: #262626;
    }

    .darkSubNav{
        background-color: rgb(58, 58, 58);
    }

    .darkBody{
        background-color: rgb(75, 75, 75);
    }

/* All my font : */

    /* 0 - Tags */

    body{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    a{
        font-weight:500;
    }

    /* 1 - Reusable class for alignement */

    .t-center {
        text-align: center;
    }

    .t-right {
        text-align: right;
    }

/* Structures : */

    .displayNone{
        display: none;
    }

    .displayGrid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .gridSearch{
        display: grid;
        grid-template-columns: 5% 95%;
        padding: 1%;
        background-color: white;
        border-radius: 2em;
    }

    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1%;
    }

    .borderNone{   
        border:none;
    }

    img{
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }

    .whiteCircle{
        background-color: white;
        border-radius: 2em;
        padding: 0.5em;
    }

/* Responsive */

    /* Mobile */
    
    @media (min-width: 700px) { 
        #pocList{
            display: grid;
            grid-template-columns: 1fr 1fr ;
        }
    }

    @media (min-width: 1000px) { 
        #pocList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
