{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-3">POC - Piece of code</h1>

<!--Message à propos-->
<div class="box2 text-center"><p>apieceofcode.org est un projet à but non lucratif dont le but est d’aider les développeurs web en leur proposant une plateforme de partage de code. Les revenus générés par la plateforme serviront au frais de fonctionnement du site et permettrons de rémunérer les développeurs qui s’investissent le plus sur la plateforme.</p></div>

<!--Affichage grille 2 colonnes-->
<div class="divider2 mt-5 mb-5">
    <!--Image-->
    <img src="{{asset('media/aboutUs.jpg')}}" alt="Frédéric Bui"/>
    <!--Texte-->
    <div class="p-3">
        <h2>Comment cela à commencé ?</h2>
        <p>Au sein de ma formation, j’avais pris l’habitude de partager toutes mes découvertes avec mes collègues.</p>
        
        <p>A un moment donné, je me suis retrouvé avec un nombre conséquent de bloc de code et je me suis dis que ça serait bien de pouvoir les partager sur un site.</p>
        
        <p>Puis en allant plus loin, je me suis dis pourquoi ne pas proposer une plateforme de partage pour les développeurs.</p>

        <p>Et voilà, c’est comme ça que apieceofcode.org est né !</p>
    </div>
</div>
{% endblock %}
