{% extends 'base.html.twig' %}

{% block title %}New Poc{% endblock %}

{% block body %}
    <h1>Create new Poc</h1>

    {{ include('profil/_form.html.twig') }}

    <!--Lien vers POC du profil-->
    <a href="{{ path('profil_myPoc') }}">
        <button class="btn btn-primary">back to my Poc</button>
    </a>
{% endblock %}
