{% extends 'base.html.twig' %}

{% block title %}New Poc{% endblock %}

{% block body %}
    <h1>Create new Poc</h1>

    {{ include('profil/_form.html.twig') }}

    <a href="{{ path('profil_myPoc') }}">back to list</a>
{% endblock %}
