{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{path('app_forgot_password_request')}}" >Reset my password</a>

    <a href="{{ path('profil_show') }}"><button class="btn btn-primary">back to profil</button></a>

{% endblock %}
