{% extends 'base.html.twig' %}

{% block title %}Edit Poc{% endblock %}

{% block body %}
    <h1>Edit Poc</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profil_myPoc') }}"><button class="btn btn-primary">back to my POC</button></a>

{% endblock %}
