{% extends 'base.html.twig' %}

{% block title %}Confirm email{% endblock %}

{% block body %}
<p>Please confirm your account by clicking on the link we send you by email before adding a POC.</p>
{% endblock %}