<!--Formulaire de contact-->
{{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
    <div class="text-center"><button class="btn btn-primary"> <i class="fas fa-envelope"></i> {{ button_label|default('Save') }}</button></div>
{{ form_end(formulaire) }}