{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1 class="mt-5">Contact us !</h1>
<img class="puzzleFloating3" src="{{asset('media/puzzle.svg')}}" alt="apieceofcode"/>
<div class="formContact mt-5 mb-5 text-light">
{{ include('contact/_form.html.twig', {'button_label': 'Send'}) }}
</div>
{% endblock %}
