<footer id="footer" class="footerColor text-center p-3">
    <!--Lien linkedin-->
    <p>Copyright &copy; 2022 <a href="https://fr.linkedin.com/in/fr%C3%A9d%C3%A9ric-bui-a20084a4" target="_blank">Frédéric Bui</a></p>
    <nav>
        <ul>
            <!--Lien vers politique de confidentialité, mentionslegales et CGU/CGV-->
            <li><a href={{path("politique_de_confidentialite")}}>Privacy Policy</a></li>
            <li><a href={{path("mentionslegales")}}>Legal mentions</a></li>
            <li><a href={{path("cguCgv")}}>General use and purchase conditions</a></li>
        </ul>
    </nav>
</footer>