<footer id="footer" class="footerColor text-center p-3">
    <p>Copyright &copy; 2022 <a href="https://fr.linkedin.com/in/fr%C3%A9d%C3%A9ric-bui-a20084a4" target="_blank">Frédéric Bui</a></p>
    <nav>
        <ul>
            <li><a href={{path("politique_de_confidentialite")}}>Politique de confidentialité</a></li>
            <li><a href={{path("mentionslegales")}}>Mentions légales</a></li>
            <li><a href={{path("cguCgv")}}>General use and purchase conditions</a></li>
        </ul>
    </nav>
</footer>