<header>
    <nav>
        <div id="navstable">
            <i class="fas fa-bars" onclick="myFunction()" ></i>
            <a href="/home"><p class="t-center">POC - Piece of code</p></a>
            <a href="/login" class="t-right"><i class="fas fa-user" ></i></a>
        </div>
            <div id="navtoggle">
            <a href="/poc"><p class="t-center">Tag</p></a>
            <a href="/poc"><p class="t-center">Langage</p></a>
            <a href="/poc"><p class="t-center">Category</p></a>
        </div>
    </nav>
</header>