<nav class="lightNav h50px">
    <div id="navstable" class="grid3">
        <i class="fas fa-bars cursorP" onclick="toggleTarget('navtoggle', 'displayNone', 'displayGrid')"></i>
        <a href={{path("home")}}><p class="text-center"> <i class="fas fa-puzzle-piece" style="color:rgb(250, 218, 76)"></i> POC - Piece of code</p></a>
        <div class="t-right">
            <a href={{path("cart_index")}}>My cart <i class="fas fa-shopping-cart p05"></i></a>
            <i class="fas fa-user whiteCircle cursorP" onclick="toggleTarget('navprofil', 'diplayNone', 'displayGrid')"></i>
        </div>
    </div>
</nav>

