<nav>
    <div id="navtoggle">
        <a href={{path("home")}}><p class="t-center">Home</p></a>
        <a href={{path("catalog_index")}}><p class="t-center">Catalog</p></a>
        <a href="#"><p class="t-center">Contact</p></a>
        <a href="#"><p class="t-center">About us</p></a>
        <hr>
    </div>
</nav>