<nav id="navtoggle" class="lightSubNav displayNone">
    <div >
        <a href="#"><p class="text-center">About us</p></a>
        <a href={{path("catalog_index")}}><p class="text-center">Catalog</p></a>
        <a href={{path("contact")}}><p class="text-center">Contact</p></a>
    </div>
</nav>