<nav>
    <div id="navstable">
        <i class="fas fa-bars" onclick="myFunction()" ></i>
        <a href={{path("home")}}><p class="t-center">POC - Piece of code</p></a>
        <a href={{path("app_login")}} class="t-right"><i class="fas fa-user" ></i></a>
    </div>
</nav>
