<nav>
    <div id="navstable">
        <i class="fas fa-bars" onclick="myFunction()"></i>
        <a href={{path("home")}}><p class="t-center">POC - Piece of code</p></a>
        <i class="fas fa-user t-right" onclick="myFunction2()"></i>
    </div>
</nav>
