<nav id="navtoggle" class="lightSubNav displayNone">
    <ul class="text-center p-2">
        <li><a href="#"><p>About us</p></a></li>
        <li><a href={{path("catalog_index")}}><p>Catalog</p></a></li>
        <li><a href={{path("contact")}}><p>Contact</p></a></li>
    </ul>
</nav>