{% extends 'base.html.twig' %}

{% block title %}Payment failure{% endblock %}

{% block body %}
    <h1>Payment failure</h1>

    <!--Lien vers le panier-->
    <a href={{path('cart_index')}}>Going back to the cart</a>
{% endblock %}
