{% extends 'base.html.twig' %}

{% block title %}POC Catalog{% endblock %}

{% block body %}
    <h1 class="text-center">POC catalog</h1>

    <!--Search bar-->
    <form class="gridSearch m1" method="get" action="{{ path('catalog_index') }}">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        <input class="borderNone" type="text" placeholder="Search by keywords" name="keyword"/>
    </form>

    <div class="text-center">
        <button>E-commerce</button>
        <button>Social-Network</button>
        <button>Landing Page</button>
        <button>blog</button>
    </div>

    <br>

    <a href="{{ path('catalog_index') }}"><button class="btn btn-success" ><i class="fas fa-book-open"></i> See all POC</button></a>

    <section id="pocList">
    {% for poc in pocs %}
        {{include("Composants/card.html.twig")}}
    {% else %}
        <p>No records found</p>
    {% endfor %}
    </section>

    <p class="text-center">You can't find the missing piece for your incredible project ?</p>
    <p class="text-center">Please <a href="{{path("contact")}}">contact us</a>.</p>


{% endblock %}
